* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'League Spartan', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 375px;
    text-align: center;
    padding: 50px 30px;
    box-shadow: 0 0 10px 0.05px rgba(0, 0, 0, 0.06);

    background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    background-position: left -2vw, bottom 0vh right 0vw;
}
header,
.rating-lists {
    margin-bottom: 50px;
}
h1 {
    font-size: 36px;
    line-height: 29px;
    letter-spacing: -0.3px;
    text-align: center;
    color: hsl(300, 43%, 22%);
    margin-bottom: 18px;
}
header p {
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 22px;
    text-align: center;
    color: hsl(303, 10%, 53%);
}
ul {
    display: flex;
    flex-direction: column;
    gap: 15px;

    list-style: none;
}
.rating-list {
    font-size: 16px;
    font-weight: 700;
    padding: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: hsl(300, 43%, 22%);
    background-color: hsl(300, 24%, 96%);
    border-radius: 6px;
}
.stars {
    display: flex;
    gap: 8px;
}
.star-icon {
    width: 16px;
    height: 16px;
}
.testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.testimonial {
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
    padding: 30px;
}
.testimonial-header {
    display: flex;
    align-items: center;
    gap: 20px;
}
.testimonial-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.buyer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.buyer-name {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.buyer-title {
    font-size: 16px;
    font-weight: 500;
    color: hsl(333, 80%, 67%);
    letter-spacing: 0.4px;
}
.testimonial-text {
    text-align: start;
    color: #fff;
    line-height: 25px;
}

@media (min-width: 1400px) {
    .container {
        width: 1200px;

        background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top 0vh left 0vh, bottom -12vh right -12vw;
    }
    header {
    }
    h1, 
    header p {
        text-align: left;
    }
    h1 {
        font-size: 46px;
        line-height: 36px;
        letter-spacing: -0.3px;

        max-width: 400px;
    }
    header p {
        font-size: 22px;
        line-height: 28px;

    }
    .upper-section {
        display: grid;
        grid-template-columns: 1.5fr 1.5fr;
        margin-bottom: 35px;
    }
    .rating-lists {
        justify-self: end;
        align-self: center;
    }
    .rating-list--first {
        margin-right: 100px;
    }
    .rating-list--second {
        margin-left: 50px;
        margin-right: 50px;
        padding: 10px 20px;
    }
    .rating-list--third {
        margin-left: 100px;
    }
    .rating-list {
        flex-direction: row;
        padding: 10px;
    } 
    .testimonial-section {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .testimonial--first {
        margin-bottom: 20px;
    }
    .testimonial--second {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .testimonial--third {
        margin-top: 20px;
    }
}
